# keys
Config.ts
Config.js.map
Config.js

# stupid node js stuff
node_modules
package-lock.json

# the folder where ts compiles all stuff
# dist
# Don't ask me why i am pushing compiled stuff it is needed to host the bot!

# Logs
logs

# just me being stupid and doing stuff
testing.js
testing.ts
cache
todo
