# keys
Config.ts

# stupid node js stuff
node_modules
package-lock.json

# the folder where ts compiles all stuff
dist

# Logs
logs

# just me being stupid and doing stuff
testing.js
testing.ts
cache
todo

#temp disabled
pictures
